body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	background-color: #fff;
	color: #666;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2.5em;
	margin-bottom: 10px;
	color: #666;
}

h2 {
	font-size: 2.0em;
	color: #666;
}

h3 {
	font-size: 1.5em;
	color: #fff;
}

h1, h2, h3 {
	text-align: center;
	font-weight: 300;
}

img {
	height: auto;
	max-width: 100%;
}

li {
	font-size: 1.2em;
	line-height: 1.5;
	color: #fff;
}

nav {
	background-color: #666;
	box-shadow: 1px 1px 1px #eee;
	width: 100%;
	height: 60px;
	clear: both;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	float: left;
	color: #333;
	padding: 15px;
}

nav ul li a:link, a:hover, a:active, a:visited {
	text-decoration: none;
	color: #fff;
}

p {
	color: #fff;
	line-height: 1.5;
}

.col33 {
	width: 33%;
	display: table-cell;
	color: #333;
	padding: 20px;
	border: 10px solid #fff;
}

.row {
	width: 100%;
	display: table;
	clear: both;
}

.subheader {
	color: #666;
	font-size: 1.5em;
	text-align: center;
	margin: 0;
	padding-bottom: 20px;
}

.color-purple {
	background-color: #666;
}
.color-green {
	background-color: #CE706D;
}