body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  /* background-color: #f0f0f0; */
  background-image: url('../images/bw-bg.jpg');
}

button {
	width: 49.5%;
	border: 1px solid #fff;
	background-color: none;
	font-size: 1.3em;
	margin: 25px 0 25px 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

button.reset {
	/* background-color: rgb(31, 150, 254); */
}

button.submit {
	/* background-color: rgb(77, 242, 75); */
}

form {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3 {
	font-weight: 300;
	text-align: center;
}

h1 {
	font-size: 3.0em;
	margin: 0;
	padding-top: 25px;
	color: #fff;
}

section {
	background-color: #fff;
	padding: 20px;
	margin-top: 25px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 5px 0 5px 0;
}

ol li  {
	margin: 10px;
}
#container {
	content: '';
	position: relative;
	top: 0;
	right: 0;
	left: 0;
	background-image: -webkit-linear-gradient(315deg, rgb(31, 150, 254), rgb(77, 242, 75));
	opacity: .8;
	margin: 0;
	padding: 0;
}

.center {
	text-align: center;
}